<?xml version="1.0" ?>
<launch>
  <arg name="map_name" default="$(find sigma)/maps/umass.yaml" />

  <include file="$(find sigma)/launch/rviz_nav.launch" />

  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sigma)/rviz/default.rviz" />

  <node pkg="sigma" type="sigma_pomdp_node" name="sigma_pomdp_node" output="screen">
    <param name="update_rate" value="100" />

    <!-- <param name="grid_width" value="94" />
    <param name="grid_height" value="31" /> -->
    <param name="grid_width" value="30" />
    <param name="grid_height" value="10" />

    <param name="base_probability_of_action_success" value="0.9" />
    <param name="penalty_for_freespace" value="0.05" />
    <!-- <param name="number_of_beliefs_to_add" value="10000" /> -->
    <param name="number_of_belief_expansions" value="1" />

    <param name="sub_occupancy_grid" value="/map" />

    <param name="sub_map_pose_estimate" value="/initialpose" />
    <param name="sub_map_nav_goal" value="/move_base_simple/goal" />

    <param name="get_action" value="~get_action" />
    <param name="get_belief" value="~get_belief" />
    <param name="update_belief" value="~update_belief" />

    <param name="visualize_belief" value="True" />
    <param name="visualization_marker" value="~visualization_marker" />
    <param name="visualization_marker_array" value="~visualization_marker_array" />
  </node>

  <node pkg="sigma" type="sigma_action_kobuki_node" name="sigma_action_kobuki_node" output="screen">
    <remap from="cmd_vel" to="/mobile_base/commands/velocity"/>

    <param name="sigma_pomdp_namespace" value="/sigma_pomdp_node" />

    <param name="at_position_goal_threshold" value="0.05" />
    <param name="at_theta_goal_threshold" value="0.05" />

    <param name="pid_integrator_bounds" value="0.05" />

    <param name="pid_theta_Kp" value="0.6" />
    <param name="pid_theta_Ki" value="0.1" />
    <param name="pid_theta_Kd" value="0.2" />

    <param name="desired_velocity" value="0.2" />

    <param name="sub_kobuki_odom" value="/odom" /> <!-- /base_pose_ground_truth from nav_msgs -->
    <param name="sub_kobuki_bump" value="/mobile_base/sensors/bumper" />
    <param name="pub_kobuki_vel" value="/cmd_vel" /> <!-- /mobile_base/commands/velocity from kobuki_msgs -->
    <param name="pub_kobuki_reset_odom" value="/mobile_base/commands/reset_odometry" /> <!-- /mobile_base/commands/reset_odometry from kobuki_msgs -->
  </node>
</launch>

